<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">portada</ion-title>
    </ion-toolbar>
    
    <iframe width="100" height="100" src="https://www.youtube.com/embed/B57W1IX86Ck" frameborder="0" allowfullscreen></iframe>

  </ion-header>
</ion-content>
